<!DOCTYPE html>
<html lang="en">
<head>
  {% block title %}<title>我的主页</title>{% endblock %}
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" 
  integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
  <!-- Add additional CSS in static file -->
  {% load static %}
  <link rel="stylesheet" href="{% static 'css/styles.css' %}">
  <script src="https://cdn.staticfile.org/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdn.staticfile.org/jquery/3.4.1/jquery.min.js"></script>
   <script src="https://cdn.staticfile.org/popper.js/1.16.0/umd/popper.min.js"></script>
   <script src="https://cdn.staticfile.org/twitter-bootstrap/4.4.1/js/bootstrap.min.js"></script>
   <link  rel="stylesheet"  href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"  
   integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"  
   crossorigin="anonymous">
   <link rel="stylesheet" href="{% static 'css/bootstrap/bootstrap.min.css' %}"/>

   <link rel="icon" href="{% static 'icon/favicon2.ico' %}" />
   <link rel="Bookmark" href="{% static 'icon/favicon1.ico' %}" />
   <script src="{% static 'js/jquery/jquery-3.6.0.min.js' %}"></script>
   <script src="{% static 'js/bootstrap/bootstrap.min.js' %}"></script>
   <script src="{% static 'js/status.js' %}"></script>
   <script src="{% static 'js/dropdown.js' %}"></script>
   <script src="{% static 'js/ajax-time.js' %}"></script>
   <script src="{% static 'js/ajax-speech.js' %}"></script>
   <script src="{% static 'js/ajax-weather.js' %}"></script>
   <script src="{% static 'js/onload.js' %}"></script>
   <body background="{% static 'img/background.png' %}" style="background-attachment: fixed;">   
   </head>
   <body>
   <!--上导航栏-->
<nav class="navigator">
    <img src="{% static 'img/CIVITAS2.png' %}" width="120px" height="25px" class="civitas2"/>
    <span class="vertime">
        Pre-Alpha 0.0.5
        <p id="time" class="time"></p>
    </span>
    <span>
        <a href="#street"><img src="{% static 'icon/common/street.ico' %}" width="22px" height="22px"/>街区</a>
        <a href="#square"><img src="{% static 'icon/common/square.ico' %}" width="22px" height="22px"/>广场</a>
        <a href="map.html"><img src="{% static 'icon/common/map.ico' %}" width="22px" height="22px"/>地图</a>
    </span>
    <span class="market-main" id="market">
        <a href="#market"><img src="{% static 'icon/common/market.ico' %}" width="22px" height="22px"></img>市场</a>
        <div id="market-down" class="market-dropdown hide">
            <a href="#square"><img src="{% static 'icon/common/goods.ico' %}" width="22px" height="22px"></img>物资市场</a>
            <a href="#square"><img src="{% static 'icon/common/recruit.ico' %}" width="22px" height="22px"></img>招聘市场</a>
            <a href="#square"><img src="{% static 'icon/common/estate.ico' %}" width="22px" height="22px"></img>不动产市场</a>
        </div>
    </span>
    <span class="signup-in">
        <!-- <a href="#market">登录</a>
        <a href="#market">注册</a> -->
        
        <a href="#">头像 名字</a>
        <a href="{% url 'logout' %}">登出</a>
    </span>
</nav>
<!--左侧导航栏-->
<div class="leftnavigator">
    <!--头像和个人信息-->
    <div class="bottomline">
        <span class="avatar">
            <img src="{% static 'img/1.png' %}" class="img-thumbnail" width="80px" height="80px"/>
        </span>
        <div class="level">
            <a href="#">CIVITAS2团队</a>
            <p>等级 100级</p>
            <div class="progress levelbar">
                <div class="progress-bar bg-warning progress-bar-striped progress-bar-animated"  style="width: 50%" id="energy"><p class="xp">经验 1000 / 2000</p></div>
            </div>
        </div>
    </div>
    <!--状态栏-->
    <div class="bottomline">
        <p class="menu">我的状态</p>
        <div class="progress status">
            <div class="progress-bar progress-bar-striped progress-bar-animated"  style="width: 100%" id="stamina">精力 100 / 100</div>
        </div>
        <div class="progress status">
            <div class="progress-bar progress-bar-striped progress-bar-animated"  style="width: 100%" id="happiness">快乐 100 / 100</div>
        </div>
        <div class="progress status">
            <div class="progress-bar progress-bar-striped progress-bar-animated"  style="width: 100%" id="health">健康 100 / 100</div>
        </div>
        <div class="progress status">
            <div class="progress-bar progress-bar-striped progress-bar-animated"  style="width: 100%" id="starvation">饥饿 100 / 100</div>
        </div>
    </div>
    <!--选项-->
    <div class="leftnavigatoroption">
        <div class="bottomline">
            <p class="menu">我的CIVITAS</p>
            <a href="index.html">我的CIVITAS</a>
            <a href="#news">我的通知</a>
            <a href="#news">我的设置</a>
        </div>
        <div class="bottomline">
            <p class="menu">我的生活</p>
            <a href="#home">我的食谱</a>
            <a href="#home">我的藏书</a>
            <a href="#news">我的副业</a>
            <a href="#news">我的教育</a>
        </div>
        <div class="bottomline">
            <p class="menu">我的交际圈</p>
            <a href="#home">我的人际关系</a>
            <a href="#news">我的社交活动</a>
        </div>
        <div class="bottomline">
            <p class="menu">我的资产</p>
            <a href="#home">我的库房</a>
            <a href="#news">我的私人交易</a>
            <a href="#news">我管理的不动产</a>
            <a href="#home">我拥有的不动产</a>
        </div>
    </div>
</div>

<!--主体结构div-->
<div class="main">

    <!--主页面主体内容-->
    <div class="main-center">
        {% block main %}
          {% endblock %}
        </div>
        </div>


    </body>















<!-- 
<body>
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-2">
      {% block sidebar %}
        <ul class="sidebar-nav">
          
          <li><a href="">你爱我</a></li>
          <li><a href="">我爱你</a></li>
          <li><a href="">蜜雪冰城甜蜜蜜</a></li>
          <li><a href="{% url 'logout' %}">登出</a></li>
        </ul>
     {% endblock %}
      </div>
      <div class="col-sm-10 ">
        <div  class="container">
        <div  class="row justify-content-left">
          <div  class="col-4">
          <h1  class="text-center">CIVITAS 2077 login</h1>
          <h2  class="text-center">进程</h2>
         
          </div>
        </div>
      </div>
      
    </div>
  </div>
</body>
</html> -->