<!DOCTYPE html>
<html>

<link rel="stylesheet" href="civitas/css/style.css"/>
<link rel="stylesheet" href="civitas/css/depository.css"/>

<script src="civitas/js/jquery/jquery-3.6.0.min.js"></script>
<link rel="stylesheet" href="civitas/css/bootstrap/bootstrap.min.css"/>
<script src="civitas/js/bootstrap/bootstrap.min.js"></script>

<link rel="icon" href="civitas/icon/favicon2.ico"/>
<link rel="Bookmark" href="civitas/icon/favicon1.ico"/>

<script src="civitas/js/essential/is-login.js"></script>
<script src="civitas/js/essential/navigator.js"></script>
<script src="civitas/js/essential/dropdown.js"></script>
<script src="civitas/js/essential/redirection/redirection-login.js"></script>

<script src="civitas/js/userstatus/log-out.js"></script>

<script src="civitas/js/onload/onload-login.js"></script>

<head>
<meta charset="utf-8">
<title>我的库房 - 古典社会模拟 CIVITAS2</title>
</head>

<body background="civitas/img/background.png" style="background-attachment: fixed;">

<nav class="navigator" id="navigator"></nav>

<div class="left-navigator" id="left-navigator"></div>

<div class="main">
    <p id="depository-name" class="main-char"></p>
    <div class="depository-box-top bottomline-dashed">
        <span class="depository-text-top">
            <p class="depository-name">物品名</p>
        </span>
        <span class="depository-text2">
            <p class="depository-num">总数量</p>
        </span>
        <span class="depository-text2">
            <p class="depository-num">总质量</p>
        </span>
    </div>
    <div id="depository-detail">
        <div class="depository-box bottomline-dashed">
            <img src="civitas/icon/goods/1.png" width="60px" height="60px" class="depository-mainimg"/>
            <span class="depository-text1">
                <p class="depository-name">小麦<br></p>
                <p class="depository-loss">仓储损耗 10%</p>
            </span>
            <span class="depository-text2">
                <p class="depository-num">100<br></p>
                <p class="depository-loss">总量</p>
            </span>
            <span class="depository-text2">
                <p class="depository-num">100<br></p>
                <p class="depository-loss">每单位重量 1.00</p>
            </span>
        </div>
    </div>
</div>

</body>
</html>