<!DOCTYPE html>
<html>

<link rel="stylesheet" href="civitas/css/style.css"/>
<link rel="stylesheet" href="civitas/css/depository.css"/>

<script src="civitas/js/jquery/jquery-3.6.0.min.js"></script>
<link rel="stylesheet" href="civitas/css/bootstrap/bootstrap.min.css"/>
<script src="civitas/js/bootstrap/bootstrap.min.js"></script>
<script src="civitas/js/vue/vue.min.js"></script>
<script src="civitas/js/vue/axios.min.js"></script>

<link rel="icon" href="civitas/icon/favicon2.ico"/>
<link rel="Bookmark" href="civitas/icon/favicon1.ico"/>

<script src="civitas/js/essential/main.js"></script>
<script src="civitas/js/essential/is-login.js"></script>
<script src="civitas/js/essential/navigator.js"></script>
<script src="civitas/js/essential/dropdown.js"></script>
<script src="civitas/js/essential/redirection/redirection-login.js"></script>
<script src="civitas/js/essential/parameter.js"></script>

<script src="civitas/js/people/depository.js"></script>

<script src="civitas/js/userstatus/log-out.js"></script>

<script src="civitas/js/onload/onload-depository.js"></script>

<head>
<meta charset="utf-8">
<title></title>
</head>

<body background="civitas/img/background.png" style="background-attachment: fixed;">

<nav class="navigator" id="navigator"></nav>

<div id="left-navigator">
    <left-navigator v-bind:prop="prop"></left-navigator>
</div>

<div class="main" id="main">
    <ranevent-modal 
        v-bind:prop="ranevent_prop" 
        v-on:hide_modal="hide_ranevent_modal" 
        v-on:next_modal="get_ranevent">
    </ranevent-modal>
    <depository-one v-bind:prop="someone_detail"</depository-one>
</div>

</body>
</html>