<!DOCTYPE html>
<html>
    
<link rel="stylesheet" href="civitas/css/style.css">
<link rel="stylesheet" href="civitas/css/speech.css">
<link rel="stylesheet" href="civitas/css/skill.css">

<script src="civitas/js/jquery/jquery-3.6.0.min.js"></script>
<link rel="stylesheet" href="civitas/css/bootstrap/bootstrap.min.css"/>
<script src="civitas/js/bootstrap/bootstrap.min.js"></script>
<script src="civitas/js/vue/vue.min.js"></script>
<script src="civitas/js/vue/axios.min.js"></script>

<link rel="icon" href="civitas/icon/favicon2.ico"/>
<link rel="Bookmark" href="civitas/icon/favicon1.ico"/>

<script src="civitas/js/essential/is-login.js"></script>
<script src="civitas/js/essential/navigator.js"></script>
<script src="civitas/js/essential/dropdown.js"></script>
<script src="civitas/js/essential/tips.js"></script>
<script src="civitas/js/essential/redirection/redirection-login.js"></script>

<script src="civitas/js/index/speech.js"></script>
<script src="civitas/js/index/weather.js"></script>
<script src="civitas/js/index/skill.js"></script>

<script src="civitas/js/userstatus/log-out.js"></script>

<script src="civitas/js/onload/onload-index.js"></script>

<head>
<meta charset="utf-8">
<title>我的主页 - 古典社会模拟 CIVITAS2</title>
</head>

<body background="civitas/img/background.png" style="background-attachment: fixed;">

<nav class="navigator" id="navigator"></nav>

<div id="left-navigator">
    <left-navigator v-bind:prop="prop"></left-navigator>
</div>

<div class="main" id="main">

<div class="main-center">

    <p class="main-char">我的CIVITAS</p>
    <div>
        <p class="location" id="location">位于京兆尹，长安县<span id="season"></span><span id="day"></span></p>
        <span id="weather-svg"></span>
        <p class="weather-main">今日天气：<strong id="weather"></strong> 温度：<strong id="temperature"></strong>摄氏度 降水量：<strong id="rain"></strong>mm</p>
    </div>
    <div>
        <a href="#" class="address"><img src="civitas/svg/index/address.svg" width="80px" height="80px"/></a>
        <a href="#" class="work"><img src="civitas/svg/index/work.svg" width="80px" height="80px"/></a>
    </div>
    <div id="skill"></div>

</div>

<div class="main-right" id="main-right">
    <p class="main-char">本地演讲</p>
    <div class="deliver-speech">
        <textarea class="form-control resize-none" rows="5" id="speech-input" type="text" v-model="speech_input" placeholder="在这里发表演讲，不超过300个字"></textarea>
        <button class="btn btn-primary" onclick="give_speech()">发表</button>
        <p class="speech-tips" id="speech-tips"></p>
        <p class="speech-length-tips" v-bind:class="{ 'speech-length-tips-over': speech_input.length > 300 }">{{ speech_input.length }}/300</p>
    </div>
    <p class="main-char">热门演讲</p>
    <div id="popular-speech"></div>
    <p class="main-char">其他演讲</p>
    <div id="speech"></div>
    <div id="speech-page-paginator" class="speech-page-paginator"></div>
</div>

</div>

</body>
</html>
