<!DOCTYPE html>
<html>
    
<link rel="stylesheet" href="civitas/css/style.css">
<link rel="stylesheet" href="civitas/css/speech.css">
<link rel="stylesheet" href="civitas/css/skill.css">

<link rel="stylesheet" href="civitas/css/bootstrap/bootstrap.min.css"/>
<script src="civitas/js/jquery/jquery-3.6.0.min.js"></script>
<script src="civitas/js/bootstrap/bootstrap.min.js"></script>

<link rel="icon" href="civitas/icon/favicon2.ico" />
<link rel="Bookmark" href="civitas/icon/favicon1.ico" />

<script src="civitas/js/status.js"></script>
<script src="civitas/js/dropdown.js"></script>
<script src="civitas/js/time-index.js"></script>
<script src="civitas/js/ajax-speech.js"></script>
<script src="civitas/js/ajax-weather.js"></script>

<script src="civitas/js/login/is-login.js"></script>
<!-- <script src="civitas/js/redirection/redirection-login.js"></script> -->

<!-- <script src="civitas/js/onload-index.js"></script> -->

<head>
<meta charset="utf-8">
<title>我的主页 - 古典社会模拟 CIVITAS2</title>
</head>

<body background="civitas/img/background.png" style="background-attachment: fixed;">

<!--上导航栏-->
<nav class="navigator">
    <img src="civitas/img/CIVITAS2.png" width="120px" height="25px" class="civitas2"/>
    <span class="vertime">
        Pre-Alpha 0.0.5
        <p id="time" class="time"></p>
    </span>
    <span>
        <a href="#street"><img src="civitas/svg/common/street.svg" width="22px" height="22px"/>街区</a>
        <a href="#square"><img src="civitas/svg/common/square.svg" width="22px" height="22px"/>广场</a>
        <a href="map.html"><img src="civitas/svg/common/map.svg" width="22px" height="22px"/>地图</a>
    </span>
    <span class="market-main" id="market">
        <a href="#market"><img src="civitas/svg/common/market.svg" width="22px" height="22px"></img>市场</a>
        <div id="market-down" class="market-dropdown hide">
            <a href="#square"><img src="civitas/svg/common/goods.svg" width="22px" height="22px"></img>物资市场</a>
            <a href="#square"><img src="civitas/svg/common/recruit.svg" width="22px" height="22px"></img>招聘市场</a>
            <a href="#square"><img src="civitas/svg/common/estate.svg" width="22px" height="22px"></img>不动产市场</a>
        </div>
    </span>
    <span>
      <a href="blog/1.html"><img src="civitas/svg/common/blog.svg" width="22px" height="22px"/>开发者日志</a>
    </span>
    <span class="signup-in">
        <img src="civitas/img/1.png" width="40px" height="40px"/>
        <a href="logout.html">注销</a>
    </span>
    <span class="signup-in">
        <a href="login.html">登录</a>
        <a href="register.html">注册</a>
    </span>
</nav>

<!--左侧导航栏-->
<div class="leftnavigator">
    <!--头像和个人信息-->
    <div class="bottomline">
        <span class="avatar">
            <img src="civitas/img/1.png" class="img-thumbnail" width="80px" height="80px"/>
        </span>
        <div class="level">
            <a href="#" id="username"></a>
            <p>等级 100级</p>
            <div class="progress levelbar">
                <div class="progress-bar bg-warning progress-bar-striped progress-bar-animated"  style="width: 50%" id="energy"><p class="xp">经验 1000 / 2000</p></div>
            </div>
        </div>
    </div>
    <!--状态栏-->
    <div class="bottomline">
        <p class="menu">我的状态</p>
        <div class="progress status">
            <div class="progress-bar progress-bar-striped progress-bar-animated"  style="width: 100%" id="stamina">精力 100 / 100</div>
        </div>
        <div class="progress status">
            <div class="progress-bar progress-bar-striped progress-bar-animated"  style="width: 100%" id="happiness">快乐 100 / 100</div>
        </div>
        <div class="progress status">
            <div class="progress-bar progress-bar-striped progress-bar-animated"  style="width: 100%" id="health">健康 100 / 100</div>
        </div>
        <div class="progress status">
            <div class="progress-bar progress-bar-striped progress-bar-animated"  style="width: 100%" id="starvation">饥饿 100 / 100</div>
        </div>
    </div>
    <!--选项-->
    <div class="leftnavigatoroption">
        <div class="bottomline">
            <p class="menu">我的CIVITAS</p>
            <a href="index.html">我的CIVITAS</a>
            <a href="#news">我的通知</a>
            <a href="#news">我的设置</a>
        </div>
        <div class="bottomline">
            <p class="menu">我的生活</p>
            <a href="#home">我的食谱</a>
            <a href="#home">我的藏书</a>
            <a href="#news">我的副业</a>
            <a href="#news">我的教育</a>
        </div>
        <div class="bottomline">
            <p class="menu">我的交际圈</p>
            <a href="#home">我的人际关系</a>
            <a href="#news">我的社交活动</a>
        </div>
        <div class="bottomline">
            <p class="menu">我的资产</p>
            <a href="#home">我的库房</a>
            <a href="#news">我的私人交易</a>
            <a href="#news">我管理的不动产</a>
            <a href="#home">我拥有的不动产</a>
        </div>
    </div>
</div>

<!--主体结构div-->
<div class="main">

<!--主页面主体内容-->
<div class="main-center">

<!--快捷栏-->
<div>
    <p class="main-char">我的CIVITAS</p>
    <div>
        <p class="location" id="location">位于京兆郡，长安<span id="season"></span><span id="day"></span></p>
        <span id="weather-svg"></span>
        <p class="weather-main">今日天气：<strong id="weather"></strong> 温度：<strong id="temperature"></strong>摄氏度 降水量：<strong id="rain"></strong>mm</p>
    </div>
    <a href="#" class="address"><img src="civitas/svg/index/address.svg" width="80px" height="80px"/></a>
    <a href="#" class="work"><img src="civitas/svg/index/work.svg" width="80px" height="80px"/></a>
    <button type="button" class="btn btn-success" onclick="day_change()">换日（Q1宅院）</button>
    <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#work_strategy">工作</button>
    <button type="button" class="btn btn-warning" onclick="eat()">吃炭拌粉</button>
    <button type="button" class="btn btn-warning" onclick="load_updata()">测试</button>
    <p id="change"></p>
</div>

<!--技能-->
<div>
    <p class="main-char">我的技能</p>
    <div class="skill-box">
        <div class="skill-picture">   <!--大图-->
            <img src="civitas/icon/skill/1/s.png" />
        </div>
        <div class="skill-name-box"> 耕作 宗师  <!--大类技能名称-->
            <div class="mainchar-skill"></div>
        </div><!--分割线-->
        <div class="skill-name-box-right">12.23</div>
        <div class="skill-picture-mini"><img src="civitas/icon/skill/1/1.png" /></div>
        <div class="skill-name-box-mini">粮食种植 45% </div>
        <div class="skill-picture-mini"><img src="civitas/icon/skill/1/2.png" /></div>
        <div class="skill-name-box-mini">蔬果种植 45% </div>
        <div class="skill-picture-mini"><img src="civitas/icon/skill/1/3.png" /></div>
        <div class="skill-name-box-mini">经济作物种植 45% </div>
        <div class="skill-picture-mini"><img src="civitas/icon/skill/1/4.png" /></div>
        <div class="skill-name-box-mini">开垦种植 45% </div>
    </div>
</div>

</div>

<!--演讲栏-->
<div class="main-right">
    <p class="main-char">本地演讲</p>
    <div class="deliver-speech">
        <p>在这里发表演讲，不超过140个字:</p>
        <textarea class="form-control resize-none" rows="5" id="comment" name="text" type="text"></textarea>
        <button class="btn btn-primary" onclick="give_speech()">发表</button>
        <p id="speech-tip"></p>
    </div>
    <p class="main-char">热门演讲</p>
    <div id="popular-speech"></div>
    <p class="main-char">其他演讲</p>
    <div id="speech"></div>
    <div id="speech-page-paginator" class="speech-page-paginator"></div>
</div>


<!--工作模态框-->
<div class="modal fade" id="work_strategy" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
<div class="modal-dialog">
    <div class="modal-content work-modal">
        <div class="work-title">
            <p>选择工作策略</p>
            <button data-dismiss="modal" class="close" type="button"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
        </div>
        <div class="modal-body work-strategy">
            <p class="">如同往常一样，你又开始了一天的工作。今天你打算......</p>
            <button class="btn" onclick="work(1)" data-dismiss="modal"><img src="civitas/icon/work/java.ico" width="40px" height="40px"/>闲散  快乐，健康消耗-25%<br>产出产能-10% 技能增长-10%</button>
            <button class="btn" onclick="work(2)" data-dismiss="modal"><img src="civitas/icon/work/normal.ico" width="40px" height="40px"/>正常 无特殊加成</button>
            <button class="btn" onclick="work(3)" data-dismiss="modal"><img src="civitas/icon/work/python.ico" width="40px" height="40px"/>勤奋 快乐，健康消耗+25%<br>产出产能+10% 技能增长+10%</button>
            <button class="btn" onclick="work(4)" data-dismiss="modal"><img src="civitas/icon/work/python.ico" width="40px" height="40px"/>蛮干 快乐，健康消耗+25%<br>产出产能+20% 技能增长-10%</button>
            <button class="btn" onclick="work(5)" data-dismiss="modal"><img src="civitas/icon/work/java.ico" width="40px" height="40px"/>怠工 快乐恢复1，健康消耗-50% 精力，饥饿消耗-25%<br>产出产能-75% 技能增长-75%</button>
        </div>
    </div>
</div>
</div>

</div>

</body>
</html>
