<!DOCTYPE html>
<html>

<link rel="stylesheet" href="civitas/css/style.css"/>

<script src="civitas/js/jquery/jquery-3.6.0.min.js"></script>
<link rel="stylesheet" href="civitas/css/bootstrap/bootstrap.min.css"/>
<script src="civitas/js/bootstrap/bootstrap.min.js"></script>
<script src="civitas/js/vue/vue.min.js"></script>
<script src="civitas/js/vue/axios.min.js"></script>

<link rel="icon" href="civitas/icon/favicon2.ico"/>
<link rel="Bookmark" href="civitas/icon/favicon1.ico"/>

<script src="civitas/js/essential/is-login.js"></script>
<script src="civitas/js/essential/navigator.js"></script>
<script src="civitas/js/essential/dropdown.js"></script>
<script src="civitas/js/essential/redirection/redirection-login.js"></script>

<script src="civitas/js/userstatus/log-out.js"></script>

<script src="civitas/js/onload/onload-login.js"></script>

<head>
<meta charset="utf-8">
<title>地图 - 古典社会模拟 CIVITAS2</title>
</head>

<body background="civitas/img/background.png" style="background-attachment: fixed;">

<nav class="navigator" id="navigator"></nav>

<div id="left-navigator">
    <left-navigator v-bind:prop="prop"></left-navigator>
</div>

<div class="main">
<p class="main-char">地图</p>
<img src="civitas/img/map-east.png"/>
<img src="civitas/img/map-west.png" width="90%" height="60%"/>

</div>

</body>
</html>