<!DOCTYPE html>
<html>

<link rel="stylesheet" href="civitas/css/style.css"/>

<link rel="stylesheet" href="civitas/css/bootstrap/bootstrap.min.css"/>
<script src="civitas/js/jquery/jquery-3.6.0.min.js"></script>
<script src="civitas/js/bootstrap/bootstrap.min.js"></script>

<link rel="icon" href="civitas/icon/favicon2.ico"/>
<link rel="Bookmark" href="civitas/icon/favicon1.ico"/>

<script src="civitas/js/essential/is-login.js"></script>
<script src="civitas/js/essential/navigator.js"></script>
<script src="civitas/js/essential/dropdown.js"></script>
<script src="civitas/js/essential/redirection/redirection-login.js"></script>

<script src="civitas/js/other/avatar.js"></script>

<script src="civitas/js/userstatus/log-out.js"></script>

<script src="civitas/js/onload/onload-login.js"></script>

<head>
<meta charset="utf-8">
<title>设置 - 古典社会模拟 CIVITAS2</title>
</head>

<body background="civitas/img/background.png" style="background-attachment: fixed;">

<nav class="navigator" id="navigator"></nav>

<div class="left-navigator" id="left-navigator"></div>

<!--主体结构div-->
<div class="main">

<input type="file" id="photoFile">
<img id="preview_photo" src="" width="200px" height="200px">
<button class="btn btn-warning" onclick="upload()">好啊</button>
<p id="comment"></p>

</div>

</body>
</html>