<!DOCTYPE html>
<html>
<link rel="stylesheet" href="/civitas/css/style.css">
<link rel="stylesheet" href="/civitas/css/speech.css">
<link rel="stylesheet" href="/civitas/css/skill.css">
<link rel="stylesheet" href="/civitas/css/bootstrap/bootstrap.min.css"/>
<script src="/civitas/js/jquery/jquery-3.6.0.min.js"></script>
<script src="/civitas/js/bootstrap/bootstrap.min.js"></script>
<script src="/civitas/js/onload-test.js"></script>
<body>
<div class="bottomline">
<div class="progress status">
    <div class="progress-bar progress-bar-striped progress-bar-animated"  style="width: 100%" id="happiness">
        <div id="label_happy">快乐</div>
    </div>
</div>
    <div class="progress status">
        <div class="progress-bar progress-bar-striped progress-bar-animated"  style="width: 100%" id="stamina">
            <div id="label_energy">精力</div>
        </div>
    </div>
    <div class="progress status">
        <div class="progress-bar progress-bar-striped progress-bar-animated"  style="width: 100%" id="health">
            <div id="label_healthy">健康</div>
        </div>
    </div>
    <div class="progress status">
        <div class="progress-bar progress-bar-striped progress-bar-animated"  style="width: 100%" id="starvation">
            <div id="label_hunger">饥饿</div>
        </div>
    </div>
</div>
</div>
</body>