<!DOCTYPE html>
<html>

<link rel="stylesheet" href="civitas/css/style.css"/>
<link rel="stylesheet" href="civitas/css/speech.css"/>
<link rel="stylesheet" href="civitas/css/depository.css"/>
<script src="civitas/js/jquery/jquery-3.6.0.min.js"></script>
<link rel="stylesheet" href="civitas/css/bootstrap/bootstrap.min.css"/>
<script src="civitas/js/bootstrap/bootstrap.min.js"></script>
<script src="civitas/js/vue/vue.js"></script>
<script src="civitas/js/vue/axios.min.js"></script>
<script src="civitas/js/people/test.js"></script>

<head>
<meta charset="utf-8">
<title>测试</title>
</head>

<body>

<div class="main" id="main">
    <button type="button" class="btn btn-danger" v-on:click="show_ranevent_modal">工作</button>
    <ranevent-modal 
        v-bind:prop="prop" 
        v-on:hide_modal="hide_ranevent_modal" 
        v-on:next_modal="get_ranevent">
    </ranevent-modal>
</div>

</body>
</html>