<!DOCTYPE html>
<html>
    
<link rel="stylesheet" href="../civitas/css/style.css">
<link rel="stylesheet" href="../civitas/css/login/style_login.css">

<link rel="stylesheet" href="../civitas/css/bootstrap/bootstrap.min.css"/>
<script src="../civitas/js/jquery/jquery-3.6.0.min.js"></script>
<script src="../civitas/js/bootstrap/bootstrap.min.js"></script>

<link rel="icon" href="../civitas/icon/favicon2.ico" />
<link rel="Bookmark" href="../civitas/icon/favicon1.ico" />

<script src="../civitas/js/essential/is-login.js"></script>
<script src="../civitas/js/essential/navigator.js"></script>
<script src="../civitas/js/essential/dropdown.js"></script>
<script src="../civitas/js/essential/redirection/redirection-login.js"></script>

<script src="../civitas/js/userstatus/log-out.js"></script>

<script src="../civitas/js/onload/onload-login.js"></script>


<head>
<meta charset="utf-8">
<title>开发者日志1 天气与生产 - 古典社会模拟 CIVITAS2</title>
</head>

<body background="../civitas/img/background.png" style="background-attachment: fixed;">

<nav class="navigator" id="navigator"></nav>

<div class="left-navigator" id="left-navigator"></div>

<!--主体结构div-->
<div class="main">
    <div>
        <a>没有上一篇 </a>
        <a href="2.html"> 下一篇</a>
    <div>
    <p class="mainchar">天气与生产</p>
    <p class="author">作者：时间 2021/07/15</p>
    <p>不同于老版的civitas，新版游戏中，粮食的生产是以四天为一个周期，每隔四天，粮食才会收获。而这四天的天气变化会影响粮食的产量。天气是随机的，但是大体上符合当地的气候特征，如下图为模拟罗马和亚历山大的气候变化。</p>
    <p>由于温度降雨量都会影响粮食的产量，所以玩家需要及时的改产自己的作物，值得注意的是，示例图只是一个模拟情况，真实的情况千变万化，虽然有迹可循，但是又未必完全一样。所以，玩家可能碰到自身判断错误或者极端天气造成的减产乃至颗粒无收的情况。</p>
    <p>在新版游戏中，由于粮食种植合成了一个大类，所以一个粮食种植者是可以种植各种不同的粮食而不会收到影响。但是切换作物，会影响土地的开发度，在切换的前几天，收获会受到影响。不过，影响也是十分有限的。</p>
    <img src="../civitas/img/blog/1/1.png" width="960px" height="515px"/>
    <img src="../civitas/img/blog/1/2.png" width="960px" height="515px"/>
</div>

</body>
</html>
