<!DOCTYPE html>
<html>
    
<link rel="stylesheet" href="../civitas/css/style.css">
<link rel="stylesheet" href="../civitas/css/login/style_login.css">

<link rel="stylesheet" href="../civitas/css/bootstrap/bootstrap.min.css"/>
<script src="../civitas/js/jquery/jquery-3.6.0.min.js"></script>
<script src="../civitas/js/bootstrap/bootstrap.min.js"></script>

<link rel="icon" href="../civitas/icon/favicon2.ico" />
<link rel="Bookmark" href="../civitas/icon/favicon1.ico" />

<script src="../civitas/js/essential/is-login.js"></script>
<script src="../civitas/js/essential/navigator-next.js"></script>
<script src="../civitas/js/essential/dropdown.js"></script>
<script src="../civitas/js/essential/redirection/redirection-login.js"></script>

<script src="../civitas/js/userstatus/log-out.js"></script>

<script src="../civitas/js/onload/onload-login.js"></script>


<head>
<meta charset="utf-8">
<title>开发者日志2 天气与收获 - 古典社会模拟 CIVITAS2</title>
</head>

<body background="../civitas/img/background.png" style="background-attachment: fixed;">

<nav class="navigator" id="navigator"></nav>

<div class="left-navigator" id="left-navigator"></div>

<!--主体结构div-->
<div class="main">
    <div>
        <a href="1.html">上一篇 </a>
        <a href="3.html"> 下一篇</a>
    <div>
    <p class="mainchar">天气与收获</p>
    <p class="author">作者：时间 2021/07/21</p>
    <p>在civitas中，土地生产的产出与地形、工具、工人产能、工作状态等有关，但是在civitas2中，我们对此作出了重大变革，在上一节中，我们引入了天气模组，这个模组在土地系统中，依然发挥出了重要作用。</p>
    <p>众所周知，在现实中，不同的温度、降水量对于不同品类的粮食作物有不同的影响，在下面，我们以长安、吴郡两个地方为例，简单介绍一下这些影响，值得注意的是，以下只是举例说明，具体数值在正式版本上线时，会有相应的平衡性调整。</p>
    <p>在举例之前，我们要先阐述这个游戏对于周期的定义，我们把一个完整的气候周期定义为八十个日历日，而粮食作物从播种到收获，则需要四个日历日。</p>
    <p>粮食作物在范例中，我们只体现三种：小麦、粟、水稻。三种作物中，水稻喜水、耐高温，不耐干旱；而小麦可以则恰恰相反；至于粟，则属于旱涝保收型。不过，这并不意味着，粟是永恒的选择，因为不同的粮食作物对应的属性是不同的，在未来的章节中，我们将继续阐述不同的粮食作物可以带来不同的属性。</p>
    <p>长安的天气如下图，图中我们可以看到温度和降雨量。显而易见的是，长安冬季干旱、春秋雨量适中、夏天多雨。温度方面。夏秋较热、冬季寒冷。</p>
    <img src="../civitas/img/blog/2/1.png" width="960px" height="515px"/>
    <p>长安三种作物的平均产能如下表，按照表中显示，似乎种粟是一个不错的想法。</p>
    <img src="../civitas/img/blog/2/2.png"/>
    <p>但是当我们看 到图1-2时，似乎又有了不同的想法，在不同的天气条件下选择更合适的品种，在恶劣的环境下选择休耕，会有更好的收获。当然，何种选择会有最优的结果，还需要玩家们一一探索。因为没人能知道明天的天气，所以最优解永远是不可复制的。</p>
    <p>值得注意的是，我们稍后为引入肥力系统，也就是说，在合适的时候休耕，会在下一个风调雨顺的周期内，获得更好的收益。</p>
    <img src="../civitas/img/blog/2/3.png" width="960px" height="515px"/>
    <p>吴郡的相关图片如下图所示，我们不再进行具体分析。玩家们也可以看到，在南方，水稻显然是一个非常优秀的选择。不过，在某一个节点，是选择种小麦过渡，还是彻底休耕迎接来年的大丰收，同样需要玩家们的考量。</p>
    <img src="../civitas/img/blog/2/4.png" width="960px" height="515px"/>
    <img src="../civitas/img/blog/2/5.png" width="960px" height="515px"/>
    <img src="../civitas/img/blog/2/6.png"/>
</div>

</body>
</html>
