<!DOCTYPE html>
<html>
    
<link rel="stylesheet" href="../civitas/css/style.css">
<link rel="stylesheet" href="../civitas/css/login/style_login.css">

<link rel="stylesheet" href="../civitas/css/bootstrap/bootstrap.min.css"/>
<script src="../civitas/js/jquery/jquery-3.6.0.min.js"></script>
<script src="../civitas/js/bootstrap/bootstrap.min.js"></script>

<link rel="icon" href="../civitas/icon/favicon2.ico" />
<link rel="Bookmark" href="../civitas/icon/favicon1.ico" />

<script src="../civitas/js/essential/is-login.js"></script>
<script src="../civitas/js/essential/navigator.js"></script>
<script src="../civitas/js/essential/dropdown.js"></script>
<script src="../civitas/js/essential/redirection/redirection-login.js"></script>

<script src="../civitas/js/userstatus/log-out.js"></script>

<script src="../civitas/js/onload/onload-login.js"></script>


<head>
<meta charset="utf-8">
<title>开发者日志3 河流泛滥与肥力 - 古典社会模拟 CIVITAS2</title>
</head>

<body background="../civitas/img/background.png" style="background-attachment: fixed;">

<nav class="navigator" id="navigator"></nav>

<div class="left-navigator" id="left-navigator"></div>

<!--主体结构div-->
<div class="main">
    <div>
        <a href="2.html">上一篇 </a>
        <a href="4.html"> 下一篇</a>
    <div>
    <p class="mainchar">河流泛滥与肥力</p>
    <p class="author">作者：时间 2021/07/22</p>
    <p>在上一章中，我们阐述了天气对于土地产物的影响。众所周知，在东方，黄河被誉为中国的母亲河。而在灿烂的古埃及文明中，他们也有一条母亲河：尼罗河。每年的泛滥期，河水都会灌满龟裂的土地。而当洪水退去，农田上则有了一层肥沃的淤泥。相当于上了一次肥，人们可以依靠这些肥力，不断的繁衍生息，创造出无比灿烂的文明。</p>
    <img src="../civitas/img/blog/3/1.png" width="960px" height="515px"/>
    <p>上图亚历山大的灌溉与肥力图，如图所示，在每一次泛滥期后，都是农民们播种的好时节，在大自然的馈赠逐步耗尽之后，人们只能等待下一次尼罗河的泛滥，所幸的是，上天眷顾亚历山大人，尼罗河的泛滥是有规律并经常的。</p>
    <p>据希腊多德记载：“那里的农夫只需等待河流自行泛滥出来，流到田地上灌溉，灌溉后在退回河床，然后每个人把种子撒在自己的土地上，叫猪上去踏进这些种子，以后便只是等待收获了。”玩家们也可以这么选择，得到下图这样的产能曲线。</p>
    <img src="../civitas/img/blog/3/2.png" width="960px" height="515px"/>
    <img src="../civitas/img/blog/3/3.png"/>
    <p>从图二中，聪明的玩家们也许会发现，合理的选择是，在尼罗河泛滥的时期选择水稻，而其他时间选择小麦是一个非常优秀的做法。遗憾的是，在那个时代，水稻尚未传入亚历山大。所以游戏中，我们同样无法种植水稻。粟也是如此。那在泛滥期我们只能强行种植大小麦，来获取抵消的回报吗？也未必如此，玩家还可以选择休耕，即让土地休息，等待泛滥期结束，大家再回到土地中辛劳的工作。如果玩家们选择了这个方案，我们将得到图3这样的产量曲线。</p>
    <img src="../civitas/img/blog/3/4.png" width="960px" height="515px"/>
    <img src="../civitas/img/blog/3/5.png"/>
    <p>表1和表2分别代表休耕与不休耕各种经济产物的产能，看上去似乎区别不是很大，但是如果选择休耕，玩家们可以在休耕期中有更多的选择，发展更多的产业，在亚历山大的历史中，书写属于自己的一笔。</p>
</div>

</body>
</html>
