<!DOCTYPE html>
<html>
    
<link rel="stylesheet" href="../civitas/css/style.css">
<link rel="stylesheet" href="../civitas/css/login/style_login.css">

<link rel="stylesheet" href="../civitas/css/bootstrap/bootstrap.min.css"/>
<script src="../civitas/js/jquery/jquery-3.6.0.min.js"></script>
<script src="../civitas/js/bootstrap/bootstrap.min.js"></script>

<link rel="icon" href="../civitas/icon/favicon2.ico" />
<link rel="Bookmark" href="../civitas/icon/favicon1.ico" />

<script src="../civitas/js/status.js"></script>
<script src="../civitas/js/dropdown.js"></script>
<script src="../civitas/js/time.js"></script>

<script src="civitas/js/login/is-login.js"></script>
<script src="civitas/js/redirection/redirection-none.js"></script>

<script src="../civitas/js/onload.js"></script>


<head>
<meta charset="utf-8">
<title>开发者日志3 河流泛滥与肥力 - 古典社会模拟 CIVITAS2</title>
</head>

<body background="../civitas/img/background.png" style="background-attachment: fixed;">

<!--上导航栏-->
<nav class="navigator">
    <img src="../civitas/img/CIVITAS2.png" width="120px" height="25px" class="civitas2"/>
    <span class="vertime">
        Pre-Alpha 0.0.5
        <p id="time" class="time"></p>
    </span>
    <span>
        <a href="#street"><img src="../civitas/svg/common/street.svg" width="22px" height="22px"/>街区</a>
        <a href="#square"><img src="../civitas/svg/common/square.svg" width="22px" height="22px"/>广场</a>
        <a href="../map.html"><img src="../civitas/svg/common/map.svg" width="22px" height="22px"/>地图</a>
    </span>
    <span class="market-main" id="market">
        <a href="#market"><img src="../civitas/svg/common/market.svg" width="22px" height="22px"></img>市场</a>
        <div id="market-down" class="market-dropdown hide">
            <a href="#square"><img src="../civitas/svg/common/goods.svg" width="22px" height="22px"></img>物资市场</a>
            <a href="#square"><img src="../civitas/svg/common/recruit.svg" width="22px" height="22px"></img>招聘市场</a>
            <a href="#square"><img src="../civitas/svg/common/estate.svg" width="22px" height="22px"></img>不动产市场</a>
        </div>
    </span>
    <span>
      <a href="1.html"><img src="../civitas/svg/common/blog.svg" width="22px" height="22px"/>开发者日志</a>
    </span>
    <span class="signup-in">
        <img src="../civitas/img/1.png" width="40px" height="40px"/>
        <a href="#market">注销</a>
    </span>
</nav>

<!--左侧导航栏-->
<div class="leftnavigator">
    <!--头像和个人信息-->
    <div class="bottomline">
        <span class="avatar">
            <img src="../civitas/img/1.png" class="img-thumbnail" width="80px" height="80px"/>
        </span>
        <div class="level">
            <a href="#" id="username"></a>
            <p>等级 100级</p>
            <div class="progress levelbar">
                <div class="progress-bar bg-warning progress-bar-striped progress-bar-animated"  style="width: 50%" id="energy"><p class="xp">经验 1000 / 2000</p></div>
            </div>
        </div>
    </div>
    <!--状态栏-->
    <div class="bottomline">
        <p class="menu">我的状态</p>
        <div class="progress status">
            <div class="progress-bar progress-bar-striped progress-bar-animated"  style="width: 100%" id="stamina">精力 100 / 100</div>
        </div>
        <div class="progress status">
            <div class="progress-bar progress-bar-striped progress-bar-animated"  style="width: 100%" id="happiness">快乐 100 / 100</div>
        </div>
        <div class="progress status">
            <div class="progress-bar progress-bar-striped progress-bar-animated"  style="width: 100%" id="health">健康 100 / 100</div>
        </div>
        <div class="progress status">
            <div class="progress-bar progress-bar-striped progress-bar-animated"  style="width: 100%" id="starvation">饥饿 100 / 100</div>
        </div>
    </div>
    <!--选项-->
    <div class="leftnavigatoroption">
        <div class="bottomline">
            <p class="menu">我的CIVITAS</p>
            <a href="../index.html">我的CIVITAS</a>
            <a href="#news">我的通知</a>
            <a href="#news">我的设置</a>
        </div>
        <div class="bottomline">
            <p class="menu">我的生活</p>
            <a href="#home">我的食谱</a>
            <a href="#home">我的藏书</a>
            <a href="#news">我的副业</a>
            <a href="#news">我的教育</a>
        </div>
        <div class="bottomline">
            <p class="menu">我的交际圈</p>
            <a href="#home">我的人际关系</a>
            <a href="#news">我的社交活动</a>
        </div>
        <div class="bottomline">
            <p class="menu">我的资产</p>
            <a href="#home">我的库房</a>
            <a href="#news">我的私人交易</a>
            <a href="#news">我管理的不动产</a>
            <a href="#home">我拥有的不动产</a>
        </div>
    </div>
</div>

<!--主体结构div-->
<div class="main">
    <div>
        <a href="2.html">上一篇 </a>
        <a href="4.html"> 下一篇</a>
    <div>
    <p class="mainchar">河流泛滥与肥力</p>
    <p class="author">作者：时间 2021/07/22</p>
    <p>在上一章中，我们阐述了天气对于土地产物的影响。众所周知，在东方，黄河被誉为中国的母亲河。而在灿烂的古埃及文明中，他们也有一条母亲河：尼罗河。每年的泛滥期，河水都会灌满龟裂的土地。而当洪水退去，农田上则有了一层肥沃的淤泥。相当于上了一次肥，人们可以依靠这些肥力，不断的繁衍生息，创造出无比灿烂的文明。</p>
    <img src="../civitas/img/blog/3/1.png" width="960px" height="515px"/>
    <p>上图亚历山大的灌溉与肥力图，如图所示，在每一次泛滥期后，都是农民们播种的好时节，在大自然的馈赠逐步耗尽之后，人们只能等待下一次尼罗河的泛滥，所幸的是，上天眷顾亚历山大人，尼罗河的泛滥是有规律并经常的。</p>
    <p>据希腊多德记载：“那里的农夫只需等待河流自行泛滥出来，流到田地上灌溉，灌溉后在退回河床，然后每个人把种子撒在自己的土地上，叫猪上去踏进这些种子，以后便只是等待收获了。”玩家们也可以这么选择，得到下图这样的产能曲线。</p>
    <img src="../civitas/img/blog/3/2.png" width="960px" height="515px"/>
    <img src="../civitas/img/blog/3/3.png"/>
    <p>从图二中，聪明的玩家们也许会发现，合理的选择是，在尼罗河泛滥的时期选择水稻，而其他时间选择小麦是一个非常优秀的做法。遗憾的是，在那个时代，水稻尚未传入亚历山大。所以游戏中，我们同样无法种植水稻。粟也是如此。那在泛滥期我们只能强行种植大小麦，来获取抵消的回报吗？也未必如此，玩家还可以选择休耕，即让土地休息，等待泛滥期结束，大家再回到土地中辛劳的工作。如果玩家们选择了这个方案，我们将得到图3这样的产量曲线。</p>
    <img src="../civitas/img/blog/3/4.png" width="960px" height="515px"/>
    <img src="../civitas/img/blog/3/5.png"/>
    <p>表1和表2分别代表休耕与不休耕各种经济产物的产能，看上去似乎区别不是很大，但是如果选择休耕，玩家们可以在休耕期中有更多的选择，发展更多的产业，在亚历山大的历史中，书写属于自己的一笔。</p>
</div>

</body>
</html>
