<!DOCTYPE html>
<html>
    
<link rel="stylesheet" href="../civitas/css/style.css">
<link rel="stylesheet" href="../civitas/css/login/style_login.css">

<link rel="stylesheet" href="../civitas/css/bootstrap/bootstrap.min.css"/>
<script src="../civitas/js/jquery/jquery-3.6.0.min.js"></script>
<script src="../civitas/js/bootstrap/bootstrap.min.js"></script>

<link rel="icon" href="../civitas/icon/favicon2.ico" />
<link rel="Bookmark" href="../civitas/icon/favicon1.ico" />

<script src="../civitas/js/essential/is-login.js"></script>
<script src="../civitas/js/essential/navigator-next.js"></script>
<script src="../civitas/js/essential/dropdown.js"></script>
<script src="../civitas/js/essential/redirection/redirection-login.js"></script>

<script src="../civitas/js/userstatus/log-out.js"></script>

<script src="../civitas/js/onload/onload-login.js"></script>


<head>
<meta charset="utf-8">
<title>开发者日志4 土地与拓荒 - 古典社会模拟 CIVITAS2</title>
</head>

<body background="../civitas/img/background.png" style="background-attachment: fixed;">

<nav class="navigator" id="navigator"></nav>

<div class="left-navigator" id="left-navigator"></div>

<!--主体结构div-->
<div class="main">
    <div>
        <a href="3.html">上一篇 </a>
        <a> 没有下一篇</a>
    <div>
    <p class="mainchar">土地与拓荒</p>
    <p class="author">作者：时间 2021/07/26</p>
    <p>众所周知，中国自第一个王朝夏朝建立之时，其领土范围不过是在黄河流域，然而当今的中国，却有960万平方公里。这是一代代华夏子民开拓的结果。是的，在游戏中「拓荒」也是一个重要的组成部分。</p>
    <p>在游戏中，最基础的行政单位是郡，当然在西方，也可以叫做城邦。郡由无数的县组成，县是最基本的政治单位。在游戏刚开始时，每一个郡只有一个县。比如东方的京兆尹，下辖长安县。这个县的土地是有限的，初始非常易于开垦。显然，随着玩家们的涌入，长安县的开垦会越来越难。于是我们引入了一个新的概念，「拓荒」。也就是在荒地中开垦。</p>
    <p>当长安县的土地难以为继的时候，玩家们可以选择在京兆尹的郊外拓荒新的不动产，毕竟，郊外的土地是无限的。虽然拓荒的效率要比在普通的开垦低。但当长安县土地被各路先行者瓜分殆尽的时候，拓荒也不失于一个不错的方案。</p>
    <p>当玩家们的拓荒达到一定单位面积的时候，这些土地会自动成立为一个新县，也就是模拟村落的形成。这个县的名字由该县所拥有土地的玩家讨论投票决定，系统不会做出过多的干涉。无论是京兆尹罗马县也好，京兆尹平安县也罢，都是玩家们的自由。当这个县成立之后，他与长安县，在机制上没有任何区别，都是隶属于京兆尹。当然，如果你罗马县，但是要去长安县上班，所消耗的精力，可是要远远大于在本县上班的其他玩家的。不同县之间的损耗不止在此，包括并不限于运输损耗、交易损耗等。所以如何平衡这中间的利害，值得玩家细细考量。</p>
    <p>另一个值得注意的是，在本游戏中，不动产是无法搬迁的。所以，如何让不同类型的不动产在一个县里和谐共处，这里就考验玩家的智慧了。</p>
    <p>当玩家们完成了一个县的拓荒之后，千万不要停下自己的脚步，更广阔的天地由你们探索，让我们一起为京兆尹的繁荣，不断的拓荒吧！</p>
    <p>附录：土地类型（暂定）</p>
    <p>土地根据地貌划分四种大类：平原，丘陵，山地，咸水</p>
    <p>平原下属小类：平原（城区），平原（郊外）、淡水</p>
    <p>丘陵下属小类：丘陵（城区），丘陵（郊外）。</p>
    <p>山地下属小类：山地（城区），山地（郊外）。</p>
    <p>咸水下属小类：盐湖，近海。</p>
</div>

</body>
</html>
