.depository-box
{
    display: flex;
    flex-direction: column;
    padding-top: 5px;
}

.depository-box p
{
    margin: 0;
}

.depository-detail
{
    display: flex;
}

.depository-text1
{
    margin: 10px 20px 0 20px;
}

.depository-text2
{
    margin: 0 20px;
}

.depository-star
{
    margin: 0 43px 0 80px;
}

.depository-name
{
    color: rgb(100,100,100);
    font-weight: bold;
    font-size: 16px;
}

.depository-loss
{
    color: rgb(100,100,100);
    font-size: 12px;
}

.depository-num
{
    color: rgb(50,100,150);
    font-weight: bold;
    font-size: 16px;
}