.recipe-single
{
    display: flex;
    padding-top: 5px;
}

.recipe-single p
{
    margin: 0;
}

.recipe-select 
{
    padding: 15px 10px 0 10px;
    flex: 2;
}

.recipe-prop
{
    padding: 5px 10px 0 10px;
    flex: 1;
}

.recipe-taste
{
    padding-top: 12px;
    flex: 3;
}

.recipe-total-name
{
    margin: 0;
    padding-left: 10px;
    font-size: 20px;
    color: rgb(57,85,115);
    border-bottom: 2px solid rgb(211,227,254);
}

.recipe-name
{
    margin: 0;
    padding-left: 10px;
    font-size: 20px;
    color: rgb(57,85,115);
}

.recipe-number
{
    color: rgb(210, 60, 60);
    font-size: 20px;
    font-weight: 600;
}

.recipe-prop-single
{
    color: rgb(100, 100, 100);
    font-size: 14px;
    font-weight: 500;
}

.recipe-acid
{
    font-size: 18px;
    color: rgb(120, 80, 120)
}

.recipe-sweet
{
    font-size: 18px;
    color: rgb(160, 80, 80)
}

.recipe-bitter
{
    font-size: 18px;
    color: rgb(80, 160, 80)
}

.recipe-salt
{
    font-size: 18px;
    color: rgb(110, 110, 110)
}

.recipe-spice
{
    font-size: 18px;
    color: rgb(50, 50, 50)
}

.recipe-none
{
    font-size: 18px;
    color: rgb(80, 80, 80)
}