.depository-box-top
{
    height: 50px;
}

.depository-box
{
    height: 70px;
    padding-top: 5px;
}

.depository-box p
{
    display: inline;
    margin: 0;
}

.depository-detail
{
    height: 28px;
}

.depository-detail p
{
    display: inline;
    margin: 0;
}

.depository-mainimg
{
    float: left;
}

.depository-text-top
{
    padding-top: 5px;
    margin-left: 80px;
    float: left;
    width: 8rem;
}

.depository-text1
{
    padding-top: 5px;
    margin-left: 20px;
    float: left;
    width: 8rem;
}

.depository-text2
{
    padding-top: 5px;
    float: left;
    width: 6rem;
}

.depository-star
{
    margin-left: 80px;
    float: left;
    width: 8rem;
}

.depository-star img
{
    margin: 0;
}

.depository-text3
{
    padding-top: 2px;
    float: left;
    width: 6rem;
}

.depository-name
{
    color: rgb(100,100,100);
    font-weight: bold;
    font-size: 16px;
}

.depository-loss
{
    color: rgb(100,100,100);
    font-size: 12px;
}

.depository-num
{
    color: rgb(50,100,150);
    font-weight: bold;
    font-size: 16px;
}