.login-main
{
    width: 30%;
    margin: 0 auto;
}

.login-main a
{
    margin: 10px auto;
    text-align: center;
    display: block;
}

.login-main a:hover
{
    text-decoration: none;
}

.login-main-char
{
  margin: 0 auto;
  text-align: center;
  font-size: 30px;
  color: rgb(57,85,115);
  font-weight: bold;
  border-bottom: 2px solid rgb(211,227,254);
}

.login-inputdiv
{
    padding: 0 80px;
}

.login-input
{
    margin: 25px 0;
}

.login-message
{
    color: red;
    margin: 10px auto;
    text-align: center;
}

.login-tiantang
{
    margin: 0 auto;
    text-align: center;
}