.skill-box
{
    margin-top: 10px;
    width: 100%;
    display: flex;
}

.skill-picture
{
    margin: 5px 0;
    flex: 0;
}
.skill-right
{
    flex:4;
}
.skill-name
{
    border-bottom: 2px dashed rgb(211,227,254);
}

.skill-name p
{
    display: inline;
    font-weight: bold;
}

.skill-name-left
{
    padding-left: 0.8rem;
    color: rgb(57,85,115);
    font-size: 20px;
}

.skill-name-right
{
    margin-top: 5px;
    margin-right: 5px;
    font-size: 16px;
    text-align: right;
    float: right;
    -webkit-text-stroke: 0px black;
}

.skill-name-education
{
    font-weight: bold;
    font-size: 16px;
}

.skill-name-right1
{
    color: rgb(104,104,104);
}

.skill-name-right2
{
    color: rgb(20, 90, 20);
}

.skill-name-right3
{
    color: rgb(50, 105, 155);
}

.skill-name-right4
{
    color: rgb(255, 120, 0);
}

.skill-name-right5
{
    color: rgb(180, 55, 45);
}

.skill-name-right6
{
    color: rgb(155, 0, 35);
}

.skill-name-right7
{
    color: rgb(240, 190, 90);
}

.skill-mini
{
    display: inline-block;
    margin: 8px 0 0 8px;
}

.skill-mini p
{
    display: inline-block;
    margin: 0;
    white-space: nowrap;
}