.deliver-speech
{
  margin-bottom: 10px;
}

.deliver-speech button
{
  margin: 10px 0 10px 0;
}

.speech-tips
{
  display: inline;
  font-size: 16px;
  color: red;
}

.speech-length-tips
{
  display: inline;
  float: right;
  margin: 15px 20px 0 0;
  font-size: 18px;
}

.speech-length-tips-over
{
  display: inline;
  float: right;
  margin: 15px 20px 0 0;
  font-size: 18px;
  color: red;
}

.speech
{
  padding: 10px 0;
  font-size: 14px;
}

.speech:hover
{
  background-color: rgba(204,204,204,0.3);
}

.speech p
{
  display: inline;
  line-height: 25px;
  font-size: 16px;
  word-wrap:break-word;
}

.speech a
{
  font-size: 16px;
}

.speech a:hover
{
  text-decoration: none;
}

.speech-avatar
{
  position: relative;
  height: inherit;
}

.speech-content
{
  position: relative;
  margin-left: 10px;
}

.speech-content p
{
  position: relative;
}

.speech-bottom
{
  margin: 0 auto;
  text-align: center;
  position: relative;
  margin-left: 10px;
}

.speech-attitude
{
  color: rgb(250,20,20);
}

.speech-page-paginator
{
  margin: 0 auto;
  text-align: center;
}

.speech-page-paginator a
{
  font-size: 18px;
  padding: 0 10px;
}

.speech-page-paginator a:hover
{
  text-decoration: none;
  background-color: rgba(204,204,204,0.3);
}

.speech-page-paginator span
{
  font-size: 18px;
  padding: 0 10px;
}

.speech-page-swap-input
{
  margin:  0 10px 0 140px;
}

.speech-page-swap-button
{
  margin: 0 140px 0 10px;
}